{% extends "base.html"%}
{% block resto %}
{% endblock resto%}
{% block headline %}
<h1 class="display-4 font-weight-normal">Detalle del evento</h1>

<ul class="list-group">
    <li class="list-group-item list-group-item-primary">Nombre: {{lista.nombre}}</li>
    <li class="list-group-item list-group-item-primary">Ubicacion del evento: {{lista.lugar}}</li>
    <li class="list-group-item list-group-item-primary">Imagen de la ubicacion: 
        {% if lista.imagen %} 
        <img src={{lista.imagen.url}} alt="" height="50px"> 
        {% endif %}
    </li>
    <li class="list-group-item list-group-item-primary">Descripcion: {{lista.descripcion}}</li>
    <li class="list-group-item list-group-item-primary">Fecha del evento: {{lista.dia}}</li>
</ul>
{% endblock headline %}