{% extends "base.html"%}
{% block resto %}
{% endblock resto%}
{% block headline %}
<h1 class="display-4 font-weight-normal">Informacion de {{request.user.username}}</h1>
<ul>
    <li> Nombre: {{request.user.first_name}}
    <li> Apellido: {{request.user.last_name}}
    <li> Email: {{request.user.email}}
    <li>Avatar: <img src={{request.user.datosextras.avatar.url}} alt="" height="100px"></li>
</ul>
<a class="btn btn-warning" href={% url "editar_perfil" %}>Editar Perfil</a>
{% endblock headline %}

